@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Onest', sans-serif;
    background-color: #3A5A40;
    color: white;
}

.container {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin: 1.5rem;
}

.container button {
    border: none;
    font-family: 'Onest', sans-serif;
    background-color: #A3B18A;
    padding: 1rem;
    font-size: 15px;
    border-radius: 12rem;
}